<h3>Satellite Count:</h3>
<div ngFor="let sat of satellites" class="counts">
	<div>Total: <span class="counts-total">{{ satellites.length}}</span></div>
	<div>Space debris: <span class="counts-total">{{ countByType("Space Debris")}}</span></div>
	<div>Comunication: <span class="counts-total">{{ countByType("Communication")}}</span></div>
	<div>SProbe: <span class="counts-total">{{ countByType("Probe")}}</span></div>
	<div>SPositioning: <span class="counts-total">{{ countByType("Positioning")}}</span></div>
    <div>Space station: <span class="counts-total">{{ countByType("Space Station")}}</span></div>
	<div>Telescope: <span class="counts-total">{{ countByType("Telescope")}}</span></div>
</div>

<!-- TODO 4: add logic to count number of satellites sdisplayed -->
